@using TechJobs6Persistent.ViewModels
@model AddJobViewModel


<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Employers">Employer</label><br />
        <select asp-for="EmployerId" asp-items="Model.Employers"></select>
        <span asp-validation-for="EmployerId"></span>
        <br />
    </div>
    <a asp-controller="Employer" asp-action="Create">Add Employer</a>
    <br />
    <input type="submit" value="Add Job" />
</form>